<div
  class="payment-method"
  data-bind="css: {'_active': (getCode() == isChecked())}"
>
  <div class="payment-method-title field choice">
    <input
      type="radio"
      name="payment[method]"
      class="radio"
      data-bind="attr: { id: getCode() }, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
    />
    <label class="label" data-bind="attr: { for: getCode() }">
      <span data-bind="text: getTitle()" style="color: #696969;"></span>
    </label>

    <label class="tooltip label">
      <span class="icon-star" aria-hidden="true">
        <img
          style="max-width: 15px; min-width: 15px"
          data-bind="attr: { src: require.toUrl('Webexpert_Direct/images/info-circle-solid.svg') }"
        />
      </span>
      <span
        class="tooltiptext"
        data-bind="i18n: 'Payment services are provided by Modena Payments Ltd.'"
      >
      </span>
    </label>
  </div>
  <!-- ko if: getOneliner() -->
  <div class="" style="margin-bottom: 20px; max-height: 30px;">
    <p data-bind="text: getOneliner()"></p>
  </div>
  <!-- /ko -->
  <div class="payment-method-content">
      <!-- ko if: getDescription() -->
      <p data-bind="text: getDescription()"></p>
      <!-- /ko -->
      <div class="field mdn_banklinks">
      <!-- ko foreach: { data:  getBanksIcons(), as: 'item' } -->
      <input
        type="radio"
        class="mdn_radio"
        checked="checked"
        data-bind="value: item.name , attr: { checked: item.selected === 1, id: item.code , name: 'mdn_banklink' }, click: function() { applyBankLinkOption(item.code, item.name, item.quote, item.domainUrl); return true; }"
      />
      <label data-bind="attr: { for: item.code }">
        <img
          data-bind="attr: { src: item.buttonUrl, alt: item.name }"
          class="mdn_banklink_img"
        />
      </label>
      <!-- /ko  -->
    </div>
    <div class="mdn_link">
      <a
        href="https://modena.ee/makseteenused/"
        data-bind="i18n: 'Service info'"
      ></a>
    </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
