.mdn_banklinks {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.mdn_radio {
  display: none;
}

.mdn_radio:checked + label .mdn_banklink_img {
  border: 4px solid #ff6c6c;
  border-radius: 16px;
  padding: 4px;
}

.mdn_banklink_img {
  box-sizing: border-box;
  min-width: 75px;
  width: 75px;
  max-width: 75px;
  background: #ffffff;
  min-height: 75px;
  height: 75px;
  max-height: 75px;
  padding: 0;
  margin: 5px;
  cursor: pointer;
  border-radius: 14px;
  border: solid #eeeeee 2px;
  transition: all 150ms ease-out;
}

.mdn_checked {
  border: solid #ff6c6c 4px;
  border-radius: 16px;
  padding: 4px;
}

.mdn_link a {
  color: #bbbbbb;
  text-decoration: underline;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border-width: 5px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 10%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15.4%;
  margin-left: -2px;
  margin-right: -2px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.icon-star:before {
}
