<?php

use Webexpert\Direct\Model\ConfigProvider;

$payment = $block->getOrder()->getPayment();
$method = $payment->getMethodInstance()->getCode();
?>
<?php if ($method == ConfigProvider::DIRECT_CODE && array_key_exists('modena_option_label', $block->getOrder()
    ->getPayment()
    ->getAdditionalInformation())) : ?>
  <div class="admin__page-section-item-content">
    <strong><?php echo __('Payment option:') ?></strong>
    <span><?php echo $block->getOrder()
        ->getPayment()
        ->getAdditionalInformation()['modena_option_label']; ?></span>
  </div>
<?php endif; ?>
